---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import Showcase from "../components/Showcase.astro";
import Download from "../components/Download.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <Features />
    <Showcase />
    <Download />
  </main>
  <Footer />
</Layout>
